.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00264d;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-left .logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.nav-right button {
    background-color: #004080;
    color: white;
    border: none;
    margin-right: 35px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.nav-right button:hover {
    background-color: #0059b3;
}
    
body {
    padding-top: 60px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #001f3d; /* Navy blue background */
    color: white;
    padding-bottom: 60px; /* Prevent content from hiding behind the footer */
}

.menu {
    margin-top: 100px;
}

.menu button, .game-screen button {
    display: block;
    width: 200px;
    max-width: 90%;
    margin: 10px auto;
    padding: 15px;
    font-size: 18px;
    background-color: #003366; /* Navy blue button */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.menu button:hover, .game-screen button:hover {
    background-color: #004080; /* Lighter navy on hover */
}

.game-screen {
    display: none; /* Hidden by default */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
    margin-left: -15px;
    margin-bottom: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
    z-index: 100;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #ccc;
    text-decoration: none;
}

#licenseText {
    color: white; /* White text */
    visibility: hidden;
    opacity: 0;
    font-size: 0.9em;
    margin-top: 6px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    margin-left: -20px;
   
}

#licenseText.visible {
    visibility: visible;
    opacity: 1;
}


#licenseText.visible {
    visibility: visible;
    opacity: 1;
}
