body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #001f3d; /* Navy blue background */
    color: white;
}

.menu {
    margin-top: 100px;
}

.menu button, .back button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 15px;
    font-size: 18px;
    background-color: #003366; /* Navy blue button */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.menu button:hover {
    background-color: #004080; /* Lighter navy on hover */
}

.back button:hover {
    background-color: #004080; /* Lighter navy on hover */
}

.game-screen {
    display: none; /* Domyślnie ukrywamy wszystkie ekrany gry */
}

.copyright{
  margin-bottom: 5px;
}

#licenseText {
    display: none; /* Ukryty tekst licencji domyślnie */
    font-size: 0.9em;
    margin-top: 6px;
}

#licenseText.visible {
    display: block; /* Widoczny po kliknięciu */
}

#licenseText {
    display: none;
    transition: opacity 0.3s ease-in-out;
}
